.mainBg {
    background: #35B9F2;
    /* background: linear-gradient(180deg,rgba(53, 185, 242, 1) 0%, rgba(53, 185, 242, 1) 80%, rgba(255, 255, 255, 1) 100%); */
}

.img-collection-main {
    height: 50vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 1%);
}

.img-collection-item {
    right: 0;
    transition: right 1.5s ease;
    overflow: hidden;
}

.img-collection-item-img {
    min-height: 50vh !important;
}

.img-collection-overlay {
    height: 50vh;
    background: rgba(0, 0, 0, 25%);
    z-index: 1;
}

.img-collection-overlay-heaer {
    text-shadow: 0 1px 10px black;
}

.popAnimation {
    width: 100%;
    transform: scale(0);
    animation: popAnim 1s ease;
    animation-fill-mode: forwards;
}

.appearAnimationDelay1 {
    opacity: 0;
    animation: appearAnim 1s 0.5s ease;
    animation-fill-mode: forwards;
}

.appearAnimationDelay2 {
    opacity: 0;
    animation: appearAnim 1s 1s ease;
    animation-fill-mode: forwards;
}

.service {
    background: rgba(0, 0, 0, 0.35);
}

.bubble-img-border {
    background: #4C86B0;
}

.bubble-img-container {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.bold-text {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .bubble-img-container {
        margin-top: 9rem !important;
        margin-bottom: 9rem !important;
    }
}

@keyframes appearAnim {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes popAnim {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
